body {
    text-align: center;
    font-size: 120%;
    font-family: 'Lora', serif;
}

h1, h2, figcaption {
    font-family: 'Linden Hill', serif;
}

h1 {
    font-size: 400%;
}

figcaption {
    margin-top: 5%;
    font-size: 150%;
}

.movements {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.artwork {
    display: flex;
    flex-direction: column;
    align-items: center;
}

article {
    background-color: white;
    padding: 3%;
    margin: 2% 0 2% 0;
    border-radius: 25px;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.first-page > p {
    font-size: 120%;
}

img {
    margin: 0 auto 0 auto;
    max-width: 90%;
}

.movements > article > img {
    max-height: 200px;
}

.artwork article {
    width: 75%;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

li {
    border-radius: 10px;
    padding: 10px;
    margin: 0 5px 10px 5px;
}

a {
    text-transform: uppercase;
    color: gray;
    text-decoration-thickness: 4px;
    padding-top: 20px;
}

a, figcaption {
    font-weight: bold;
}

article, a:hover {
    color: black;
}

.movement-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

button {
    background-color: white;
    background-image: url(Images/home.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    border: none;
    border-radius: 25px;
    padding: 8% 10% 8% 10%;
    cursor: pointer;
}

@media screen and (max-width: 450px) {
    body {
        font-size: 14px;
    }

    body, .movements, ul {
        display: flex;
        flex-direction: column;
    }

    body, .movements {
        align-items: center;
    }

    h1 {
        font-size: 300%;
    }

    article {
        width: 60%;
        margin: 10px 0 10px 0;
        padding: 8%;
    }

    ul {
        justify-content: left;
    }

    figure {
        margin: 0;
    }

    .artwork p {
        font-size: 140%;
        margin-bottom: 0;
    }

    button {
        background-size: 50%;
        padding: 30% 20% 30% 20%;
        border-radius: 10px;
    }
}